
<div class="d-flex hw-top">


<div class="d-flex flex-row pt-5 pl-5 hw-top-box">
		<div class="d-flex flex-column hw-content">
			<h1 id="hw-title">HW Tracker</h1>
			<h3 id="hw-info">The Homework Tracking App: the only application that provides teachers with templated feedback on student submissions</h3> --> 
		</div>
		<%= image_tag('hw-tracker.png', class:'img-fluid', :style => 'height:605px;width: 730px;') %>  	 
</div>		
</div><!--hw-top--> 

<div class="col text-center mx-auto px-2 target-user-hw">
				<div class="margins-div"><br /><br />
					 <h1 id="target-user">Target User<br /><br /></h1>
					 <p class="primary-users-bit">The primary users are primarily teachers or providers of training, either in the higher education sector, or those who are operating as freelancers</p>
					 <h1 id="goal">Goal</h1>
					 <p class="primary-goals">The goal of this app was to provide a solution for expediting a major part of the teacher workload. A typical day for most teachers is typically eaten up by meetings, new intiatives, and special projects, leaving little time to focus on the core business of students. This would allow teachers to spend more energy and time on preparing better lecturers and providing direct feedback  </p>
					 <h1 id="role">My Role</h1>
					 <p class="my-role">UX/UI Designer & Researcher</p>
				</div><!--margins-div--> 
			</div><!--target-users-rectangle--> 

			<div class="col-12 text-center mx-auto px-2 skills-image">
				<%= image_tag('skills.png', class: 'img-fluid') %> 
				<div class="margins-div">
					 <h1 id="target-user">Summary<br /><br /></h1>
					 <p class="primary-users-bit">Most teachers feel that their workloads have reached a point where, in order to do their jobs well, shortcuts have to be made. And because much of this new work often comes in the form of paperwork, focus on the needs of students is often the first thing that is sacrificed. </p>
					
					 <br /> 
					 <p class="primary-goals">Through the process of developing this app, it was discovered that this app would solve two problems: improve the teacher's use of time as well as providing students with faster turnaround times on their submissions. In this case, students would at least be able to have some initial feedback on their assignments. 

					 <br />
					  </p>
					 
				</div><!--margins-div--> 
			</div>

			<div class="col-12 text-center mx-auto px-2">
			<br /> 
				<hr id="line">
					<h2 id="process">Process</h2>
				<hr id="line"> 

				<br /> 
				<h1 id="target-user">Research</h1>
				<%= image_tag('research-image.png', class: 'mx-auto d-block') %> 
					<div class="margins-div">
					 <p class="primary-users-bit">Research began by looking at some of the existing technology that existed on the market for teachers. From there, it didn't take long to see that there are a number of tools that are available on the market, but nothing that would provide specific solutions around marking, the major contributor to administrative tasks and workload stress. <br /> 
 						<br /> 

 					From there, I held interviews with six different teachers across the School of Communication & Design at a university in Vietnam. In those interviews, teachers had reported that they tend to avoid a lot of tools because of the perception that the use of phones tends to be a detriment to classroom experience, but also the fact that most tools actually create more work for them, not less. 

 					So with that, four out of six teachers replied that they would only use a tool like this if it was simple and fast to use, and that it would in fact make a part of their job easier. 

 					During this phase of the research, I also sat with two of the teachers and actually observed the way that they were currently handling the marking task, which almost immediately revealed a very mechanical, very paper-shifting type of approach. 

 					So after showing them the concept I had many of them were interested. 
					 </p>
					 <br /> 
					 
				</div><!--margins-div--> 
			</div><!--line-process--> 

			<div class="col-12 text-center mx-auto px-2">
				<h1 id="target-user">Strategy</h1>
				<%= image_tag('strategy.png', class: 'mx-auto d-block') %> 
				<div class="margins-div">
					 <p class=" primary-users-bit">With all this research and useful information from teachers, there were several personas that could have been chosen. The best thing to do then was to look at the clusters of charateristics from each of them to develop a unifying persona. Here is what came out: </p>
					 <br /> 
				<%= image_tag('hw-persona.png', class: 'img-fluid', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> 
					<br /> <br /> 
				
					<p class=" primary-users-bit">From there, we began the work of looking at how the layout of the user experience would begin with the initial steps into the Information Architecture. Given that the primary mandate from teachers was that it had to be easy to use and have obvious value add to their jobs,  much of site was built with global navigation that could allow the user to revert or navigate around the app with little confusion or thought.  </p> <br /> 

					<h2 id="process">User Flow</h2>
					
					<%= image_tag('hw-userflow.png', class: 'img-fluid', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> <br /> <br /> 
					<p class="primary-users-bit">What we can derive from this flow is simple: users are going to be able to find the work that needs marking without navigating the page, but if they want to, they are completely free to pass through all the courses and current assignments if they wish; this provides them with maximum flexibility.</p> <br /> 
				</div><!--margins-div--> 
			</div><!--col mx-auto--> 

			<div class="col-12 text-center mx-auto px-2">
					<h1 id="target-user">Interaction & UI Design</h1>
					<%= image_tag('interaction.png', class: 'img-fluid') %> 
				<div class="margins-div">
					 <p class=" primary-users-bit"></p>
					 <br /> 
					 <p class="primary-users-bit">Getting the initial wireframes up took longer than we thought, as we had to consider not only the user flow, but what would be the most convenient path for our main stakeholders who were still on the fence about adopting this product.In the end,however, this is what we came up with.</p>
					 <br /> 
					 

					 <br /> 
					
					<br /> 
				
				</div><!--margins-div--> 
			</div><!--col--> 

			<div class="col-12 text-center mx-auto px-2 initial-wireframe">
			<h2 class="pt-5 process-hw">Initial Wireframes</h2> <br /> 
				<div class="d-flex flex-row mb-4 image-frames">

					<%= image_tag('hw-tracker-welcome.png', class: 'mx-auto d-block') %> 
				
					<%= image_tag('hw-tracker-course.png', class: 'mx-auto d-block') %> 

					<%= image_tag('hw-tracker-assignment.png', class: 'mx-auto d-block') %> 

				</div>

				<div class="d-flex flex-row mb-4 ">

					<%= image_tag('hw-tracker-assignment-check.png', class: 'mx-auto d-block') %> 
				
					<%= image_tag('hw-tracker-feedback-add.png', class: 'mx-auto d-block') %> 

					<%= image_tag('hw-tracker-feedback-confirm.png', class: 'mx-auto d-block') %> 

				</div>

			</div><!--initial-wireframe-->

			
				<%= image_tag('colors-and-fonts.png', class: 'img-fluid') %> 
				

			
			<div class="col-12 text-center mx-auto px-2">
				<h1 id="target-user">UI First Iteration</h1>
				<div class="purple-thing"></div>
			</div>

				<div class="d-flex flex-row mb-4">

					<%= image_tag('hw-start.png', class: 'mx-auto d-block') %> 
				
					<%= image_tag('hw-course.png', class: 'mx-auto d-block') %> 

					<%= image_tag('hw-assignment.png', class: 'mx-auto d-block') %> 

				</div>

				<div class="d-flex flex-row mb-4 ">
					<%= image_tag('hw-waiting-feedback.png', class: 'mx-auto d-block') %> 
				
					<%= image_tag('hw-student.png', class: 'mx-auto d-block') %> 

				</div>




			

			<div class="col-12 text-center mx-auto px-2">
				<h1 id="target-user">UI Improvements</h1>
				<div class="d-flex flex-row mb-4">

					<%= image_tag('hw-landing-new.png', class: 'mx-auto d-block', id:'new-hw') %> 
				
					<%= image_tag('hw-improved-dashboard.png', class: 'mx-auto d-block') %>
				</div>

				<div class="d-flex flex-row mb-4">

					<%= image_tag('hw-feedback.png', class: 'mx-auto d-block') %>

					<%= image_tag('hw-landing-new.png', class: 'mx-auto d-block') %> 
				</div>
				<div class="d-flex flex-row mb-4">
				
					<%= image_tag('hw-improved-dashboard.png', class: 'mx-auto d-block') %> 
				</div>
			</div><!--col-->

<div class="closingstudy-mirror">
		<div class="teacher-overlay-mirror-bottom"></div>
</div><!--closing-study--> 


	 
	

