
<div class="d-flex hw-top">


<div class="d-flex flex-row pt-5 pl-5 hw-top-box">
		<div class="d-flex flex-column hw-content">
			<h1 id="hw-title">HW Tracker</h1>
			<h3 id="hw-info">The Homework Tracking App: the only application that provides teachers with templated feedback on student submissions</h3> --> 
		</div>
		<%= image_tag('hw-tracker.png', class:'img-fluid', :style => 'height:605px;width: 730px;') %>  	 
</div>		
</div><!--hw-top--> 

<div class="col text-center mx-auto px-2 target-user-hw">
				<div class="margins-div"><br /><br />
					 <h1 id="target-user">Target User<br /><br /></h1>
					 <p class="primary-users-bit">The primary users are primarily teachers or providers of training, either in the higher education sector, or those who are operating as freelancers</p>
					 <h1 id="goal">Goal</h1>
					 <p class="primary-goals">The goal of this app was to provide a solution for expediting a major part of the teacher workload. A typical day for most teachers is typically eaten up by meetings, new intiatives, and special projects, leaving little time to focus on the core business of students. This would allow teachers to spend more energy and time on preparing better lecturers and providing direct feedback  </p>
					 <h1 id="role">My Role</h1>
					 <p class="my-role">UX/UI Designer & Researcher</p>
				</div><!--margins-div--> 
			</div><!--target-users-rectangle--> 

			<div class="col-12 text-center mx-auto px-2 skills-image">
				<%= image_tag('skills.png', class: 'img-fluid') %> 
				<div class="margins-div">
					 <h1 id="target-user">Summary<br /><br /></h1>
					 <p class="primary-users-bit">Most teachers feel that their workloads have reached a point where, in order to do their jobs well, shortcuts have to be made. And because much of this new work often comes in the form of paperwork, focus on the needs of students is often the first thing that is sacrificed. </p>
					
					 <br /> 
					 <p class="primary-goals">Through the process of developing this site, it was discovered that users want an easy to use resource for shopping. Many of them found shopping online to be difficult and shied away from it, mostly because it couldn’t match the real-time experience in terms of understanding the feedback. That became the main mission of the site: maximum info for the user.</p>
					 
				</div><!--margins-div--> 
			</div>

			<div class="col-12 text-center mx-auto px-2">
				<hr id="line">
					<h2 id="process">Process</h2>
				<hr id="line"> 

				<br />
				<br /> 
				<h1 id="target-user">Research</h1>
				<%= image_tag('research-image.png', class: 'mx-auto d-block') %> 
					<div class="margins-div">
					 <p class=" primary-users-bit">Research began by looking at the current landscape of online booking for clothes with a number of different brands, both clothing as well as other industries. The goal was to see how people are overcoming this virtual/physical environment barrier that tends to plague the online shopping  experience. Considerable time was spent looking at case studies as well as  information about consumer habits before beginning any kind of primary research. <br /> 
 						<br /> 
				    When we began the primary research phase, we inverviewed 6 people, ranging in age from 21 to 51 to get a diverse range of perspectives from people who buy products or regularly do any shopping. During the interviews, the emphases of our interviews was on their recollection of a recent shopping experience. Through this retelling of their experiences, we looked deeply at the motivations behind certain purchases and understanding the drivers that went into certain purchases as well as what pain points came up during their shopping experience. We then used this information to inform the main content of our page and how we intended to proceed with building out the site. <br /> 
				    <br /> 
					As a general summary, we discovered that purchases are not done randomly; rather, they are part of a variety of circumstances, recent decisions and experiences, and even marketing that has led to their purchase. On top of that, we also discoverd what they want out of a shopping experience as well: maximum info and maximum convenience. </p>
					 <br /> 
					 
				</div><!--margins-div--> 
			</div><!--line-process--> 

			<div class="col-12 text-center mx-auto px-2">
				<h1 id="target-user">Strategy</h1>
				<%= image_tag('strategy.png', class: 'mx-auto d-block') %> 
				<div class="margins-div">
					 <p class=" primary-users-bit">With all this research and useful information from users, there were several personas that could have been chosen. The best thing to do then was to look at the clusters of charateristics from each of them to develop a unifying persona. Here is what came out: </p>
					 <br /> 
				<%= image_tag('ngoc-persona.png', class: 'img-fluid', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> <br /> <br /> 
				<%= image_tag('ngoc-empathy.png', class: 'img-fluid', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> <br /> <br /> 
					<p class=" primary-users-bit">From there, we began the work of looking at how the layout of the user experience would begin with the initial steps into the Information Architecture. Given that much of the site is focused on helping the user get to the product they want as fast as possible, the site is built on providing lots of filters and navigation that will let you pick what you’re after and checkout as painless as possible.  </p> <br /> 

					<h2 id="process">Site Map</h2>
					<%= image_tag('mirror-sitemap.png', class: 'img-fluid', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> <br /> <br /> 
					<h2 id="process">Site Map</h2>
					<%= image_tag('mirror-user-flow.png', class: 'img-fluid', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> <br /> <br /> 
					<p class=" primary-users-bit">What we can derive from the site map and the user flow is this: users are going to be able to find what they need; be able to add it to their cart, keep shopping if they want; otherwise, they’ll begin to checkout.  </p> <br /> 
				</div><!--margins-div--> 
			</div><!--col mx-auto--> 

			<div class="col-12 text-center mx-auto px-2">
					<h1 id="target-user">Interaction & UI Design</h1>
					<%= image_tag('interaction.png', class: 'img-fluid') %> 
				<div class="margins-div">
					 <p class=" primary-users-bit">.</p>
					 <br /> 
					 <p class=" primary-users-bit">Getting to the wireframes was a fairly straightforward process because we knew what the users wanted: lots of sales, lots of suggestions, lots of choices. We knew these were priorities, so our landing page needed to express that. Aside from that, the bulk of our page from then on primarily reflected the user flow.  </p>
					 <br /> 
					  <p class=" primary-users-bit">From a UI perspective, what we realized for this site was that much of the content was going to be occupying the user’s eye, so lots of colors and emphasis on others aesthetics was not going to be a primary concern for us; rather, let the products do the talking for us.   </p>
					 <br /> 
					
					<br /> 
				<h2 id="process">High Fidelity Wireframe</h2> <br /> 
				</div><!--margins-div--> 
			</div><!--col--> 

			
				<div class="d-flex flex-row">
					<%= image_tag('mirror-homepage.png', class: 'mx-auto d-block', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> 
				
					<%= image_tag('mirror-product-category.png', class: 'mx-auto d-block', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> 
				</div>

				<div class="d-flex flex-row">
				<%= image_tag('mirror-product.png', class: 'mx-auto d-block', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> 
			

				<%= image_tag('mirror-start-checkout.png', class: 'mx-auto d-block',:style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> 
			</div>

			<div class="col-12 text-center mx-auto px-2">
				<h1 id="target-user">Usability Testing</h1>
				<div class="margins-div">
					<p class=" primary-users-bit">
					Usability testing confirmed our belief at this point: we had built something that made sense to the user and was easy to use. Earlly iterations of the testing were a little bit rough, but much of that was due to the fact that users were not that familiar with low-fidelity mockups of the site, so there was some basic issues with navigation. Prototyping is also an area people are not that used to as well, so getting a feel for the limitations of a site such as that was also a consideration.  </p><br />
				</div>
			</div><!--col--> 

			<div class="col-12 text-center mx-auto px-2">
				<h1 id="target-user">Reflection</h1>
				<div class="margins-div">
					<p class=" primary-users-bit">
					This site was more straightforward than others given the established nature of ecommerce shopping sites. There is a lot of information that exists about this kind of site and has been done countless times by people. The real trick was finding a slick way to communicate maximum information to the user without the experience being too complicated for the user. In the end, however, I I think we came out with something solid that conveys a good shopping experience that meets most needs. 
					</p> <br />
				</div>
			</div><!--col-->

<div class="closingstudy-mirror">
		<div class="teacher-overlay-mirror-bottom"></div>
</div><!--closing-study--> 


	 
	

