<div class="container">
<div class="row">
		<div id="portfolios" class="col-12">
			<p class="header">UX Designs</p>
			
		</div>
  </div><!--row-->
</div>

  <div class="container">
	<div class="row">
	
		<div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
      <div class="hovereffect">

          <%= link_to scroll_reveal(animation: "enter bottom, after 0.3s") do %>
            
              <%= link_to image_tag("SpotifyMockupScreen.jpeg", class: 'img-thumbnail', style:"height:391px;")  %> 
            
            <%= link_to cases_path do %> 
            <div class="overlay">
              <p class="artist-info">
                <em class="port-desc">
                  <span class="artwork-name">Spotify Social Feature</span>
                </em>
                <br />
                <span class="port-desc">Adding A New Feature To An Existing App</span>
                <br />
                <span class="artwork-medium">Research | Information Architecture | Wireframing | Usability Testing | Iteration | </span>
              
              </p><!--artist-info-->
                
             </div><!--overlay-->
             <% end %> 
        
        </div>
            
      <% end %> 
		
			</div><!--col-->
		

		
      <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
     
      <div class="hovereffect">
				
				<%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
          <%= image_tag("zeit.jpg", class: 'img-thumbnail', style:"height:391px;")  %> 
          <%= link_to zeit_path do %> 
          <div class="overlay">
              <p class="artist-info">
                <em class="port-desc-lite">
                  <span class="artwork-name">Zeit</span>
                </em>
                <br />
                <span class="port-desc">Designing a VR Time Travel Web Application</span>
                <br />
                <span class="artwork-medium">Competitive Analysis | Primary & Secondary Research | Persona Mapping | Information Arch | User Stories | Wireframing | Usability Testing  </span>
                
              </p><!--artist-info-->
                
             </div>
           <% end %> 
          
          </div><!--hovereffect-->
        <% end %> 
		</div>
			
	
		
	</div><!--row-->
</div><!--container-->

<div class="container">
	<div class="row">
		
			<div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
       
        <div class="hovereffect">
					
					<%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
            <%= image_tag("hw.jpg", class: 'img-thumbnail') %> 
            <%= link_to hw_path do %> 
            <div class="overlay">
              <p class="artist-info">
                <em class="port-desc-lite">
                  <span class="artwork-name">HW Tracker</span>
                </em>
                <br />
                <span class="port-desc">A mobile app which allows teachers to provide templated feedback to assignments</span>
                <br />
                <span class="artwork-medium">Research | User Stories | User Flow & Navigation | Wireframing | Usability Testing </span>
                
              </p><!--artist-info-->
                
             </div>
          <% end %> 
        </div><!--hovereffect-->
					<% end %> 
			
	    </div>


  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
     
      <div class="hovereffect">
				
				<%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
          <%= image_tag("mirror.jpg", class: 'img-thumbnail')  %> 
          <%= link_to mirror_path do %> 
          <div class="overlay">
              <p class="artist-info">
                <em class="port-desc-lite">
                  <span class="artwork-name">Mobile Ecommerce App</span>
                </em>
                <br />
                <span class="port-desc">Design for a mobile application which allows for browsing and online purchasing</span>
                <br />
                <span class="artwork-medium">Competitive Analysis | Primary & Secondary Research | Information Arch | Wireframing | Usability Testing </span>
                
              </p><!--artist-info-->
                
             </div>
          <% end %> 
          </div><!--hovereffect-->
        <% end %> 
		</div>
	
	</div> <!--row--> 
</div> <!--container-->


<div class="container">
  <div class="row">
    
      <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3 mx-auto d-block">
       
        <div class="hovereffect">
          
          <%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
            <%= image_tag("new-teacher-image.jpg", class: 'img-thumbnail') %> 
            <%= link_to hw_path do %> 
            <div class="overlay">
              <p class="artist-info">
                <em class="port-desc-lite">
                  <span class="artwork-name">Teacher Tussles</span>
                </em>
                <br />
                <span class="port-desc">A mobile application that gamifies stress relief for teachers</span>
                <br />
                <span class="artwork-medium">Research | User Stories | User Flow & Navigation | Wireframing | Usability Testing </span>
                
              </p><!--artist-info-->
                
             </div>
          <% end %> 
        </div><!--hovereffect-->
          <% end %> 
      
      </div>

      </div> <!--row--> 
</div> <!--container-->
