
			
<div class="mirror-top">
						<div class="col-7 mx-auto px-2 teacher-intro"> 
							<h1 id="app-title-mirror">Designing a Mobile Ecommerce Experience</h1>
						</div>
	 
	
</div><!--mirror-top--> 




		<div class="row">
			<div class="col text-center mx-auto px-2 target-user-mirror">
				<div class="margins-div">
					 <h1 id="target-user">Target User<br /><br /><br /><br /><br /><br /></h1>
					 <p class="primary-users-bit">The primary users are people who are looking for clothes in a convenient, online experience that provides them with maximum information about the product. The users are primarily working adults who may or may not have children. Most users will be conscious of price, so offerring sales is attractive to them</p>
					 <h1 id="goal">Goal</h1>
					 <p class="primary-goals">The primary goals was to develop a logical shopping experience that provides maximum information for the user with minimal effort. It also places special emphasis on creating a checkout process that breaks down each step and makes it clear to the user about what is happening before they make a final decision.  </p>
					 <h1 id="role">My Role</h1>
					 <p class="my-role">UX/UI Designer & Researcher</p>
				</div><!--margins-div--> 
			</div><!--target-users-rectangle--> 
		</div> <!--row-->

		<div class="row">
			<div class="col-12 text-center mx-auto px-2 skills-image">
				<%= image_tag('skills.png', class: 'img-fluid') %> 
				<div class="margins-div">
					 <h1 id="target-user">Summary<br /><br /><br /><br /><br /><br /></h1>
					 <p class="primary-users-bit">Mirror is a very big clothing store chain for both kids and adults. They also have different styles--casual, business, sporty, party, and formal. You have been contacted by Mirror to help them take their business online since currently they only have a very outdated informational website that only lists locations, promotions, and a bit of background about the company. They don’t want to keep anything that they currently have, so it’s all up to you. For now, they want to start with a new logo and an e-commerce responsive website where they can sell their products online.</p>
					
					 <br /> 
					 <p class="primary-goals">Through the process of developing this site, it was discovered that users want an easy to use resource for shopping. Many of them found shopping online to be difficult and shied away from it, mostly because it couldn’t match the real-time experience in terms of understanding the feedback. That became the main mission of the site: maximum info for the user.</p>
					 
				</div><!--margins-div--> 
			</div>
			

		</div><!--row--> 

		<div class="row">
			<div class="col-12 text-center mx-auto px-2 line-process">
				<hr id="line">
					<h2 id="process">Process</h2>
				<hr id="line"> 

				<br />
				<br /> 
				<h1 id="target-user">Research</h1>
				<%= image_tag('research-image.png', class: 'mx-auto d-block') %> 
					<div class="margins-div">
					 <p class=" primary-users-bit">Research began by looking at the current landscape of online booking for clothes with a number of different brands, both clothing as well as other industries. The goal was to see how people are overcoming this virtual/physical environment barrier that tends to plague the online shopping  experience. Considerable time was spent looking at case studies as well as  information about consumer habits before beginning any kind of primary research. <br /> 
 						<br /> 
				    When we began the primary research phase, we inverviewed 6 people, ranging in age from 21 to 51 to get a diverse range of perspectives from people who buy products or regularly do any shopping. During the interviews, the emphases of our interviews was on their recollection of a recent shopping experience. Through this retelling of their experiences, we looked deeply at the motivations behind certain purchases and understanding the drivers that went into certain purchases as well as what pain points came up during their shopping experience. We then used this information to inform the main content of our page and how we intended to proceed with building out the site. <br /> 
				    <br /> 
					As a general summary, we discovered that purchases are not done randomly; rather, they are part of a variety of circumstances, recent decisions and experiences, and even marketing that has led to their purchase. On top of that, we also discoverd what they want out of a shopping experience as well: maximum info and maximum convenience. </p>
					 <br /> 
					 
				</div><!--margins-div--> 
			</div><!--line-process--> 
		</div><!--row--> 


		<div class="row">
			<div class="col-12 text-center mx-auto px-2 line-process">
				<h1 id="target-user">Strategy</h1>
				<%= image_tag('strategy.png', class: 'mx-auto d-block') %> 
				<div class="margins-div">
					 <p class=" primary-users-bit">With all this research and useful information from users, there were several personas that could have been chosen. The best thing to do then was to look at the clusters of charateristics from each of them to develop a unifying persona. Here is what came out: </p>
					 <br /> 
				<%= image_tag('ngoc-persona.png', class: 'img-fluid', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> <br /> <br /> 
				<%= image_tag('ngoc-empathy.png', class: 'img-fluid', :style => 'box-shadow: 0px 3px 15px rgba(0,0,0,0.2);') %> <br /> <br /> 
					<p class=" primary-users-bit"> From there, we began to think through two objectives: how to gamify the experience as well as how the navigation of such an experience would work. In that case, we made the navigation for it very robust so that the user could easily revert back to common points in the application while still making it easy to jump to other actvities when needed.  With this solution, we’ve included choosing an avatar as part of the onboarding process. From here, users could easily view their friends and challenge them as needed. </p> <br /> 

					<h2 id="process">User Flow</h2>
					<%= image_tag('user-flow.png', class: 'img-fluid') %> <br /> 
				
				</div><!--margins-div--> 
			</div><!--col mx-auto--> 
		</div><!--row--> 

		<div class="row">
			<div class="col-12 text-center mx-auto px-2 line-process">
					<h1 id="target-user">Interaction & UI Design</h1>
					<%= image_tag('interaction.png', class: 'img-fluid') %> 
				<div class="margins-div">
					 <p class=" primary-users-bit">After the initial user flow and low-fidelity wireframes were complete, I did some initial usability testing to see how my peers would respond to it. What I had quickly discovered was that teachers wanted more relatable characters, each with their own unique characteristics, and they wanted to have more interaction to make them feel that this was more of a ‘battle’; they also wanted flexibility about the kinds of challenges they could engage in.</p>
					 <br /> 
					 <p class=" primary-users-bit">The useful feedack I made it clear that this needs to signal something that is both gamified and something of a battle. So when thinking through the color palette and the initial styling, this had to be at the forefront of my thoughts. Here is what came out:</p>
					 <br /> 
					 <h2 id="process">Styleguide</h2><br /> 
					<%= image_tag('styleguide.png', class: 'img-fluid', :style => 'border: 1px solid #000;') %> <br /> 
					<br /> 
				<h2 id="process">High Fidelity Wireframe</h2> <br /> 
				</div><!--margins-div--> 
			</div><!--col--> 
		</div><!--row--> 

		<div class="row">
			<div class="col text-center mx-auto px-2 line-process">
				<%= image_tag('landing-page.png', class: 'mx-auto d-block', :style => 'padding: 0 45px;margin: 0;') %> 
			</div>
			<div class="col text-center mx-auto px-2 line-process">
				<%= image_tag('choose-avatar.png', class: 'mx-auto d-block', :style => 'padding: 0 45px;margin:0;') %> 
			</div>
		</div><!--row--> 

		<div class="row">
			<div class="col text-center mx-auto px-2 line-process mt-5">
				<%= image_tag('confirm-avatar.png', class: 'mx-auto d-block', :style => 'padding: 0 45px;margin: 0;') %> 
			</div>
			<div class="col text-center mx-auto px-2 line-process mt-5">
				<%= image_tag('dashboard.png', class: 'mx-auto d-block', :style => 'padding: 0 45px;margin:0;') %> 
			</div>
		</div><!--row--> 

		<div class="row">
			<div class="col text-center mx-auto px-2 line-process mt-5">
				<%= image_tag('create-challenge.png', class: 'mx-auto d-block', :style => 'padding: 0 45px;margin: 0;') %> 
			</div>
			<div class="col text-center mx-auto px-2 line-process mt-5">
				<%= image_tag('patricia.png', class: 'mx-auto d-block', :style => 'padding: 0 45px;margin:0;') %> 
			</div>
		</div><!--row--> 

		<div class="row">
			<div class="col-12 text-center mx-auto px-2 line-process">
				<h1 id="target-user">Usability Testing</h1>
				<div class="margins-div">
					<p class=" primary-users-bit">
					Usability Testing confirmed our belief at this point: we had built something that made sense to the user and was easy to use. Earlly iterations of the testing were a little bit rough, but much of that was due to the fact that users were not that familiar with low-fidelity mockups of the site, so there was some basic issues with navigation. Prototyping is also an area people are not that used to as well, so getting a feel for the limitations of a site such as that was also a consideration. </p><br />
				</div>
			</div><!--col--> 
		</div><!--row--> 

		<div class="row">
			<div class="col-12 text-center mx-auto px-2 line-process">
				<h1 id="target-user">Reflection</h1>
				<div class="margins-div">
					<p class=" primary-users-bit">
					Buidling this application revealed a lot of important lessons for me; of note the difference between something that might be useful versus something that is financially viable. In this case, it was clear that there is a need to have a resource for teachers to have an outlet for their stress; however, in the course of doing the research, it was clear that teacher stress and coping behaviors were not all that different than people in any other profession. So in this sense, building an application that touched specifically on the work of teachers that was in fact bankable would required a lot more time and research. My gut feeling, however, is that it is likely more trouble than it’s worth to make such an app for such a niche market. In the future, I will definitely take a closer look at the business case for such an application before undertaking the project.</p> <br />
				</div>
			</div><!--col--> 
		</div><!--row--> 

		<div class="closingstudy">
			
		</div>



		
			
				 
		
		

