
  <div class="container bg-light mt-4">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="card mb-4">
        <%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>	
            <h2 class="card-header text-center">Erik Young</h2> 
            <%= image_tag("erik.jpg", class: 'w-100', alt: 'picture of myself')  %> 
        <% end %> 

        
          
      


      <%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>	
          <div class="card-body">
              <p class="card-text lead">A tech-savvy who is passionate about web development (front-end and back-end), with a thirst for digital knowledge, and a significant interest in emerging technologies. I have an ability to solve problems quickly and completely, with capability to multi-task and stay organized in a dynamic work environment. Equipped with certifications in full stack web developer and JavaScript programming, I am well-prepared to align my skill set with any position that requires a proactive individual who strives to exceed expectations on every assignment.</p>
              <p class="card-text">I am skilled in advanced web development methodologies, tools, and processes contributing to the design and rollout of cutting-edge web development solutions. In addition to my project experience, I possess outstanding time-management skills and work well in team-driven environments. You will find me to be a highly productive individual, quick to grasp essential procedures and protocols, and possessing the stamina to do whatever it takes to complete the task set before me.</p>
              <blockquote class="blockquote text-center w-75 mx-auto">
                <p class="mb-0">“Try to learn to let what is unfair teach you.” 
                ― David Foster Wallace, Infinite Jest</p>
                
              </blockquote>
      <% end %> 

      <%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>	
              <p class="card-text">A few of my credentials include:
              	JavaScript Programming Certificate
              	Full Stack Web Developer Certificate
              	TESOL Teaching Certificate
              	Certificate of Advanced Vietnamese Proficiency
              	Tertiary Graduate Teaching Certificate (Norwich Univ.) </p>
              <p class="card-text">Connect with me today to find out how I will make your mission my mission, to help bring all of your technical objectives into focus! Please feel free to contact me at erik.young@rmit.edu.vn with any thoughts or questions about my work - I am always interested in making new professional acquaintances</p>

          </div> 
        </div> 
      <% end %> 

      <%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>	
       <div class='card mb-4'>
                <h2 class='card-header text-center'>Work Experience</h2> 
            <div class="card-body">
              <div class="media mb-2 mt-2">
                  <i class="fab fa-facebook fa-fw fa-3x text-primary mr-2"></i>
                <div class="media-body">
                <h3 class="h4 mb-1">Front-end Developer</h3> 
                  <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline mr-3">
                    <h5 class="mb-0"><a href="#0">Facebook</a></h5><small class="d-block text-uppercase font-weight-bold text-muted"><time datetime="2017-01">January 2017</time> &ndash; <time datetime="2017-12">December 2017</time></small>
                  </div>
                </div>
              </div> 
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <hr style="height:1px;border:none;color:#333;background-color:#333;" />
              <% end %> 
              <div class="media mb-2 mt-2">
              <i class="fab fa-facebook fa-fw fa-3x text-primary mr-2"></i>
            <div class="media-body">
            <h3 class="h4 mb-1">Front-end Developer</h3> 
              <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline mr-3">
                <h5 class="mb-0"><a href="#0">Facebook</a></h5><small class="d-block text-uppercase font-weight-bold text-muted"><time datetime="2017-01">January 2017</time> &ndash; <time datetime="2017-12">December 2017</time></small>
              </div>
            </div>
          </div> 
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <hr style="height:1px;border:none;color:#333;background-color:#333;" />

          <div class="collapse" id="collapse-work">

          <div class="media mb-2 mt-2">
          <i class="fab fa-facebook fa-fw fa-3x text-primary mr-2"></i>
        <div class="media-body">
        <h3 class="h4 mb-1">Front-end Developer</h3> 
          <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline mr-3">
            <h5 class="mb-0"><a href="#0">Facebook</a></h5><small class="d-block text-uppercase font-weight-bold text-muted"><time datetime="2017-01">January 2017</time> &ndash; <time datetime="2017-12">December 2017</time></small>
          </div>
        </div>
      </div> 
      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <hr style="height:1px;border:none;color:#333;background-color:#333;" / >

      <div class="media mb-2 mt-2">
      <i class="fab fa-facebook fa-fw fa-3x text-primary mr-2"></i>
    <div class="media-body">
    <h3 class="h4 mb-1">Front-end Developer</h3> 
      <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline mr-3">
        <h5 class="mb-0"><a href="#0">Facebook</a></h5><small class="d-block text-uppercase font-weight-bold text-muted"><time datetime="2017-01">January 2017</time> &ndash; <time datetime="2017-12">December 2017</time></small>
      </div>
    </div>
  </div> 
  <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  
 </div>
 <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#collapse-work" aria-expanded="false" aria-controls="collapse-work">Show All</button>
</div>
</div>
<div class='card mb-4'>
                <h2 class='card-header text-center'>Education</h2> 
            <div class="card-body">
              <div class="media mb-2 mt-2">
                  <i class="fas fa-university fa-fw fa-3x text-primary mr-2"></i>
                <div class="media-body">
                <h3 class="h4 mb-1">M.A. in Mass Communications</h3> 
                  <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline mr-3">
                    <h5 class="mb-0"><a href="#0">Kent State University</a></h5><small class="d-block text-uppercase font-weight-bold text-muted"><time datetime="2012-08">August 2012</time> &ndash; <time datetime="2014-08">August 2014</time></small>
                  </div>
                </div>
              </div> 
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <hr style="height:1px;border:none;color:#333;background-color:#333;" />

              <div class="media mb-2 mt-2">
              <i class="fas fa-university fa-fw fa-3x text-primary mr-2"></i>
            <div class="media-body">
            <h3 class="h4 mb-1">M.S. in Forensic Psychology</h3> 
              <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline mr-3">
                <h5 class="mb-0"><a href="#0">Tiffin University</a></h5><small class="d-block text-uppercase font-weight-bold text-muted"><time datetime="2017-01">January 2017</time> &ndash; <time datetime="2017-12">December 2017</time></small>
              </div>
            </div>
          </div> 
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <hr style="height:1px;border:none;color:#333;background-color:#333;" />

        
</div>
</div>
</div>
<div class="col-12 col-lg-4">
<div class="card mb-4">
  <h2 class="card-header text-center">Contact info</h2>
  <div class="card-body" id="contact-stuff">
    <div class="media">
      <div class="fa-layers fa-fw fa-2x mr-3">
        <i class="fas fa-circle text-primary"></i>
        <i class="fas fa-male text-white" data-fa-transform="shrink-5"></i>
      </div>
      <div class="media-body mt-3">
        Erik Young
        <hr>
      </div>
    </div>
    <div class="media">
      <div class="fa-layers fa-fw fa-2x">
        <i class="fas fa-circle text-primary"></i>
        <i class="fas fa-calendar-alt text-white" data-fa-transform="shrink-8"></i>
      </div>
      <div class="media-body mt-2 ml-3">
        <time datetime="1981-12-06">6th of December 1981</time>
        <hr>
      </div>
    </div>
    <div class="media">
      <div class="fa-layers fa-fw fa-2x mr-3">
        <i class="fas fa-circle text-primary"></i>
        <i class="fas fa-phone text-white" data-fa-transform="shrink-8"></i>
      </div>
      <ul class="media-body list-unstyled">
        <li><a href="tel:+1234567890">(123)-456-7890</a></li>
        <li><i class="fab fa-fw fa-skype text-muted"></i> <a href="#0">Skype_User</a></li>
        <li><i class="fab fa-fw fa-whatsapp text-muted"></i> <a href="#0">Whatsapp_User</a></li>
        <li><hr></li>
        <!-- Alternative to using <hr>: use "border border-secondary border-top-0 border-right-0 border-left-0 pb-3" on <ul> -->
      </ul>
    </div>
    <div class="media">
      <div class="fa-layers fa-fw fa-2x mr-3">
        <i class="fas fa-circle text-primary"></i>
        <i class="fas fa-envelope text-white" data-fa-transform="shrink-8"></i>
      </div>
      <ul class="media-body list-unstyled">
        <li><a href="erik.young@rmit.edu.vn">erik.young@rmit.edu.vn</a></li>
        <li><i class="fab fa-fw fa-linkedin text-muted"></i> <a href="#0">LinkedIn</a></li>
        <li><i class="fab fa-fw fa-twitter text-muted"></i> <a href="#0">@twitterUser</a></li>
        <li><hr></li>
      </ul>
    </div>
    <div class="media">
      <div class="fa-layers fa-fw fa-2x mr-3">
        <i class="fas fa-circle text-primary"></i>
        <i class="fas fa-home text-white" data-fa-transform="shrink-8"></i>
      </div>
      <div class="media-body">
        <address class="mb-0">
          3628 Shaffer Rd.<br>
          Rock Creek, Ohio<br>
          USA
        </address>
        <hr>
      </div>
    </div>
    
  </div>
</div>
</div>
</div>
</div>


  
        