<div class="main-carousel">
	<div class="container">
		<div class="row">
	
				<div class="col-6 mx-auto intro-message">
				
					<h1><span id='typed'>Erik Young</span></h1>
				
					
					<h3>UX/UI Front-end Developer</h3>
					<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						<li>
							<%= link_to 'https://github.com/erikyoung' do %>
	    				<span class="fab fa-github-square fa-2x social-button"></span>
	    				<% end %>
						</li>
						<li>
							<%= link_to 'https://www.linkedin.com/in/erik-young-b2727161/' do %>
	    				<span class="fab fa-linkedin fa-2x social-button"></span>
	    				<% end %> 
						</li>
					</ul>
				</div>
			</div>
		</div>	
</div>
<div class="featured-artwork-box container-fluid">
	<div class="row">
		<div id="portfolios" class="col-12">
			<p class="header">UX Designs</p>
		</div>
	</div><!--row-->


	<div class="container">
	<div class="row">
	
		<div class="card-deck mt-5 mb-5">
		
			<div class="card mb-auto">
			
				<div class="card-header bg-transparent">
				<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s" ) do %>
						<%= image_tag("mirror_update.png", class: 'img-fluid', id: "change-mirror-size")  %> 
					
						<% end %> 
				</div><!--card-header-->
				
			<div class="card-footer bg-secondary special" style="background-color: #848484;">
					<p class="artist-info">
					
					<em class="port-desc-lite">
						
							<span class="artwork-name">ECommerce Web Design Case Study</span>
						
						<span class="artwork-year">2018</span>
					</em>
					<br />
					<span class="port-desc">A comprehensive case study of an online clothing store</span>
					<br />
					
					<span class="artwork-medium">Sketch | PhotoShop | Invision  </span>
				</p>
		
				
			</div><!--card-->
			</div><!-- card-footer -->

		
		<div class="card mb-auto">
			<div class="card-header bg-transparent">
			<%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
				<%= image_tag("boom.png", class: 'img-fluid', id: "change-size")  %> 
				<% end %> 
			</div>
			<div class="card-footer bg-secondary special" style="background-color: #848484;">
				<p class="artist-info">
					
				<em class="port-desc-lite">
					
						<span class="artwork-name">HW Tracker</span>
					
					<span class="artwork-year">2018</span>
				</em>
				<br />
				<span class="port-desc">Drag and Drop Student Feedback on Assignments for Teachers</span>
				<br />
				<span class="artwork-medium">Sketch | PhotoShop | Invision | User Testing</span>
				</a>
			</p>
			
			</div><!--card-->
			</div><!--card-footer-->

			
		</div><!--card-deck-->
		
	</div><!--row-->
</div><!--container-->


<div class="text-center">
    <div class="col-12 text-center">
	<a class="btn btn-primary btn-lg btn-block col-10 text-center" id="button"  <%= link_to 'See More Design Case Studies',  designs_path %></a>
    </div>
 </div>












<div id="portfolios" class="col-12">
	<p class="header">Web Development Projects</p>
</div>






<div class="container">
	<div class="row">
		<div class="card-deck">
			<div class="card">
				<div class="card-header bg-transparent">
					<a href="https://restaurant-erik.herokuapp.com/" target="_blank">
					<%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
						<%= image_tag("slider11.jpg", class: 'img-fluid') %> 
					</a>
					<% end %> 
				</div><!--card-header--> 
				
				<div class="card-footer bg-secondary special" style="background-color: #848484;">
				<p class="artist-info">
				
			<em class="port-desc-lite">
				<a href="https://restaurant-erik.herokuapp.com/" target="_blank">
					<span class="artwork-name">Food N Stuff</span>
				
				<span class="artwork-year">2017</span>
			</em>
			<br />
			<span class="port-desc">A web app for ordering food online from a local restaurant</span>
			<br />
			<span class="artwork-medium">HTML | CSS | JS | Ruby on Rails </span>
			</a>
		</p>
					
		</div><!--card-footer-->
	</div> <!--card-->


		<div class="card">
			<div class="card-header bg-transparent">
				<a href="https://nomster.herokuapp.com/" target="_blank">
				<%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
					<%= image_tag("hero.jpg", class: 'img-fluid')  %> 
				</a>
				<% end %> 
			</div><!--card-header--> 
			<div class="card-footer bg-secondary special" style="background-color: #848484;">
				<p class="artist-info">
					<em class="port-desc-lite">
						<a href="https://nomster.herokuapp.com/" target="_blank">
							<span class="artwork-name">Nomster</span>
						
						<span class="artwork-year">2016</span>
					</em>
					<br />
					<span class="port-desc">A web app for reviewing restaurants and providing suggestions in your neighborhood</span>
					<br />
					<span class="artwork-medium">HTML | CSS | JS | Ruby on Rails </span>
					</a>
				</p>
			</div><!--card-footer-->
		</div><!--card-->
		</div> <!--card-deck-->
	</div> <!--row--> 
</div> <!--container-->

		<div class="container">
			<div class="row">
				<div class="card-deck mt-5 mb-5">
					<div class="card">
						<div class="card-header bg-transparent">
							<a href="https://snapchat-erik.herokuapp.com/" target="_blank">
							<%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
								<%= image_tag("dating.jpg", class: 'img-fluid') %> 
							</a>
							<% end %> 
						</div><!--card-header-->
			<div class="card-footer bg-secondary special" style="background-color:#848484;">
				<p class="artist-info">
					<em class="port-desc-lite">
						<a href="https://snapchat-erik.herokuapp.com/" target="_blank">
							<span class="artwork-name">SimpleChat</span>
						</a>
						<span class="artwork-year">2016</span>
					</em>
					<br />
					<span class="port-desc">A web app for sending and receiving messages to people who have accounts</span>
					<br />
					<span class="artwork-medium">HTML | CSS | JS | Ruby on Rails </span>
					</a>
				</p>
			</div><!--card-footer-->
		</div><!-- card -->
			<div class="card">
				<div class="card-header bg-transparent">
					<a href="https://datingspot.herokuapp.com/" target="_blank">
					<%= scroll_reveal(animation: "enter bottom, after 0.3s") do %>
					<%= image_tag("hands.jpg", class: 'img-fluid')  %>
					</a>
					<% end %> 
				</div><!--card-header-->
			<div class="card-footer bg-secondary special" style="background-color: #848484;">
				<p class="artist-info">
				<em class="port-desc-lite">
					<a href="https://datingspot.herokuapp.com/" target="_blank">
						<span class="artwork-name">DatingSpot</span>
					
					<span class="artwork-year">2016</span>
				</em>
				<br />
				<span class="port-desc">A web blog for listing the best spots for dates and discussing relationship issues</span>
				<br />
				<span class="artwork-medium">HTML | CSS | JS | Ruby on Rails </span>
				</a>
				</p>


				</div><!--card--footer-->
			</div><!-- card -->
		</div><!--card-deck-->
	</div><!--row-->
</div><!--container--> 


<div class="text-center">
    <div class="col-12 text-center">
	<a class="btn btn-primary btn-lg btn-block col-10 text-center" id="button" <%= link_to 'See More Web Dev Projects', portfolio_path %></a>
    </div>
 </div>







			</div><!-- featured-art -->
		</div><!--featured-artwork-top -->
	</div><!--portfolios -->
</div><!--featured-artwork -->


