
<div class="main-carousel">
	<div class="container">
		<div class="row">
		
				<div class="col-8 col-sm-8 col-md-8 col-lg-8 mx-auto px-2 intro-message">
				
					<h1><span id='typed'>Erik Young</span><span id="typed-cursor">|</span></h1>
				
					
					<h3 id="ux">UX/UI Front-end Developer</h3>
					<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						<li>
							<%= link_to 'https://github.com/erikyoung' do %>
	    				<span class="fab fa-github-square fa-2x social-button"></span>
	    				<% end %>
						</li>
						<li>
							<%= link_to 'https://www.linkedin.com/in/erik-young-b2727161/' do %>
	    				<span class="fab fa-linkedin fa-2x social-button"></span>
	    				<% end %> 
						</li>
					</ul>
				</div>
			</div>
		</div>	
</div>
<div class="featured-artwork-box container-fluid">
	<div class="row">
		<div id="portfolios" class="col-12">
			<p class="header">UX Designs</p>
			
		</div>
	</div><!--row-->


	<div class="container" style="display:flex;">
	<div class="row pt-5 m-auto">
	
		<div class="col col-sm-12 col-md-12 col-lg-6 pt-3 mt-3 pb-3" id="design-main-page">
		
			<div class="card border-white">
				<div class="card-body">
					<%= link_to mirror_path do %> 
			
					<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s" ) do %>
					<div class="img-div">
						<%= image_tag("mirror-latest.png", class: 'img-thumbnail', id:'img1')  %> 
					</div>
					
						<% end %> 
				</div><!--card-body-->
				<% end %> 
			</div><!--card-->
			
			
		</div><!--col-->

	<div class="col col-sm-12 col-md-12 col-lg-6 pt-3 mt-3 pb-3" id="design-main-page">
		
		<div class="card border-white">
			<div class="card-body">
				<%= link_to hw_path do %> 
				<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s") do %>
					<%= image_tag("backgroundNeeded.png", class: 'img-thumbnail', id:'img2')  %> 
					<% end %> 
			</div><!--card-body--> 
			<% end %> 
		</div><!--card-->
				
	</div><!--col-->
		
		
	</div><!--row-->
</div><!--container-->

<div class="container">
	<div class="row pt-5 m-auto">
	
		<div class="col col-sm-12 col-md-12 col-lg-6 pt-3 mt-3 pb-3" id="design-main-page">
		
			<div class="card border-white">
				<div class="card-body">
					<%= link_to teacher_path do %> 
			
					<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s" ) do %>
					<div class="img-div">
						<%= image_tag("teachertussle-Recovered.png", class: 'img-thumbnail', id:'img1')  %> 
					</div>
					
						<% end %> 
				</div><!--card-body-->
				<% end %> 
			</div><!--card-->

			</div><!--col-->

		<div class="col col-sm-12 col-md-12 col-lg-6 pt-3 mt-3 pb-3" id="design-main-page">
		
		<div class="card border-white">
			<div class="card-body">
				<%= link_to cases_path do %> 
				<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s") do %>
					<%= image_tag("spotify-latest-Recovered.png", class: 'img-thumbnail', id:'img2')  %> 
					<% end %> 
			</div><!--card-body--> 
			<% end %> 
		</div><!--card-->
				
	</div><!--col-->

	</div> <!--row--> 
	</div><!--container--> 



 

<div id="portfolios" class="col-12">
	<p class="header">Web Development Projects</p>
</div>



<div class="container" style="display:flex;">
	<div class="row pt-5 m-auto">

		<div class="col col-sm-12 col-md-12 col-lg-6 pt-3 mt-3 pb-3" id="design-main-page">
			<div class="card card-custom bg-white border-white border-0">
				<div class="card-custom-img">
					<a href="https://restaurant-erik.herokuapp.com/" target="_blank">
						<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s") do %>
							<%= image_tag("restaurant.png", class: 'img-thumbnail') %> 
						</a>
						<% end %>
				</div><!--card-custom-img-->

				
              		
         		 
				
				
			</div> <!--card-->
		</div><!--col-->



		<div class="col col-sm-12 col-md-12 col-lg-6 pt-3 mt-3 pb-3" id="design-main-page">

			<div class="card card-custom bg-white border-white border-0">
				<div class="card-custom-img">
					<a href="https://nomster.herokuapp.com/" target="_blank">
					<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s") do %>
						<%= image_tag("NomsterRVSD", class: 'img-thumbnail')  %> 
					</a>
					<% end %> 
				</div><!--card-custom-img-->
				
				</div><!--card-->
		</div><!--col-->
		
	</div> <!--row--> 
</div> <!--container-->

	<div class="container" style="display:flex;">
		<div class="row pt-5 m-auto">
			
			<div class="col col-sm-12 col-md-12 col-lg-6 pt-3 mt-3 pb-3" id="design-main-page">
				<div class="card card-custom bg-white border-white border-0">
					<div class="card-custom-img">
							<a href="https://inspiring-blackwell-24e345.netlify.com/" target="_blank">
							<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s") do %>
								<%= image_tag("SoundCloud.png", class: 'img-thumbnail') %> 
							</a>
							<% end %> 
					</div><!--custom-img-->
						
				</div><!--card-->	
			</div><!--col-->


		<div class="col col-sm-12 col-md-12 col-lg-6 pt-3 mt-3 pb-3" id="design-main-page">
			<div class="card card-custom bg-white border-white border-0">
					<div class="card-custom-img">
						<a href="https://front-end-html-css-clone-apple.netlify.com/" target="_blank">
						<%= scroll_reveal(animation: "enter bottom over 2s after 0.3s") do %>
						<%= image_tag("apple.png", class: 'img-thumbnail')  %>
						</a>
						<% end %> 
					</div><!--custom-img-->
			
			
			</div><!-- card -->
		</div><!--col-->
		
	</div><!--row-->
</div><!--container--> 




 




			</div><!-- featured-art -->
		</div><!--featured-artwork-top -->
	</div><!--portfolios -->
</div><!--featured-artwork -->


