<!DOCTYPE html>
<html>
  <head>
    <title>PersonalPortfolioSite</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="square_logo.png"  sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
    <script src="https://use.fontawesome.com/4d2ab3f1e4.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="flex-content-container">
  	<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-primary">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <%= link_to image_tag("square_logo.png", id: 'nav-pic'), root_path  %> 
        
      

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <a class="nav-link" <%= link_to 'About', about_path %><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" <%= link_to 'Contact', new_message_path %><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" <%= link_to 'Resume', resume_path %><span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
    </div>

   <div id="footer">
    	<div class="container">
    		<div class="row">
	    		<div class="col-12 col-sm-6">
	    			<b>Contact</b>
	    			<br />
	    			youngerik26@gmail.com
	    			<br />
	    			3628 Shaffer Rd
	    			<br />
	    			Rock Creek, Ohio, 44084
	    		</div><!-- div class col-12 -->
	    		<div class="col-12 col-sm-6 social">
	    			<b>Social</b>
	    			<br />
	    			<br />
	    				<%= link_to 'https://github.com/erikyoung' do %>
	    				<span class="fa fa-github-square fa-2x social-button"></span>
	    				<% end %>
	    				<%= link_to 'https://www.facebook.com/erik.young.923' do %>
  						<span class="fa fa-facebook-square fa-2x social-button"></span>
  						<% end %>
  						<%= link_to 'https://twitter.com/youngerik26' do %>
  						<span class="fa fa-twitter-square fa-2x social-button"></span>
  						<% end %> 
  						<%= link_to 'https://medium.com/@erikyoung_58444' do %> 
  						<span class="fa fa-medium fa-2x social-button"></span>
  						<% end %> 
	    		</div><!-- col-12 -->
    		</div><!-- row -->
   		</div> <!-- div container -->
   </div><!-- footer -->

  </body>
</html>
